@using Microsoft.AspNet.Identity

<!doctype html>
<html ng-app="Comments">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/comments.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Buttons.css" />
</head>
<body>
    <div ng-controller="CommentsController as todoList">
        @if (User.Identity.IsAuthenticated)
        {
            <form ng-submit="postComment()">
                <div class="parent">
                    <div class="child">
                        <textarea class="form-control col-xs-12" rows="3" type="text" ng-model="textcomment" placeholder="@Resources.Resource.AddNewComment" id="Add"></textarea>
                    </div>
                    <div class="child">
                        <input type="submit" value=@Resources.Resource.Add class="btn btn-success" />
                    </div>
                </div>
            </form>
        }
        <dl class="dl-horizontal">
            <br \>
            <br>

            <dd ng-repeat="comment in comments">
                <div class="thumbnail">
                    <div class="col">
                        <dl class="dl-horizontal">
                            <dd>
                                {{comment.EmailAutor}}
                            </dd>
                            <dd>
                                {{comment.CommentText}}
                            </dd>
                            <dd>
                                {{comment.time}}
                            </dd>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button id="{{comment.id}}" dojotype="dijit.form.Button" onclick="addLike(id)">
                                    ♥ {{comment.Likes}}
                                </button>
                            }
                            else
                            {
                                <span class="label label-default">♥ {{comment.Likes}}</span>
                            }
                            @if ((Model.post.UserId == User.Identity.GetUserId()) || (User.IsInRole("admin")))
                            {
                                <div align="right">
                                    <button id="{{comment.id}}" dojotype="dijit.form.Button" onclick="deleteComment(id)">
                                        ✘
                                    </button>
                                </div>
                            }
                        </dl>
                    </div>
                </div>
            </dd>
        </dl>
        <label text="text" runat="server" />
    </div>

</body>
</html>