@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resource.Locked;
}

<hgroup>
    <h1 class="text-danger">@Resources.Resource.Locked .</h1>
    <h2 class="text-danger">@Resources.Resource.Locked2</h2>
</hgroup>
