
@model List<Schemes.ViewPost>
@{
    ViewBag.Title = Resources.Resource.MainPage;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .col {
            width: 700px; /* Ширина блока */
            padding: 10px; /* Поля */
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    </br>
    </br>

    <div id="scrolList">
        @Html.Partial("Tape")
    </div>
    <div id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
$(function () {

    $('div#loading').hide();

    var page = 0;
    var _inCallback = false;
    function loadItems() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').show();
            $.ajax({
                type: 'GET',
                url: '/Home/Index/' + page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#scrolList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    }
    // обработка события скроллинга
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            loadItems();
        }
    });
})

    </script>
</body>
</html>
